<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing" />

        <env name="CACHE_DRIVER" value="array" />
        <env name="SESSION_DRIVER" value="array" />
        <env name="QUEUE_DRIVER" value="sync" />

        <env name="SQUARE_APPLICATION_ID" value="sandbox-sq0idp-nB9Ibfa7igiJqQl734Ouog" />
        <env name="SQUARE_TOKEN" value="sandbox-sq0atb-BcNqcG205jTiy3txUic2pA" />
        <env name="SQUARE_LOCATION" value="CBASEP2UlDG1Zy4RJBW46Q_S1AcgAQ" />

        <env name="SQUARE_USER_NAMESPACE" value="Nikolag\Square\Tests\Models\User" />
        <env name="SQUARE_ORDER_NAMESPACE" value="Nikolag\Square\Tests\Models\Order" />
    </php>
</phpunit>